<% provide(:title, "Welcome") %>


<h2 class="text-center">Hello there hooman!</h2>


<style>
p {
    text-indent: 25px;
}
</style>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p >
            I would like to guess whether you’re a dog or cat person based on your height and weight. 
        <p>
    </div>
</div>

<div class="text-center">
 

<h2>Would you like to participate?</h2>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-4">      
        <%= link_to 'Lets do it!', ppe_path,
            :class => "btn btn-info btn-circle btn-lg btn-block"%>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-warning btn-circle btn-lg btn-block"
        onclick="location.href = 'https://en.wikipedia.org/wiki/Butterfly_World';">
            <i>No thank you!</i></button>
    </div>  
</div>
