

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Person Pet Preference</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">View Stats</a></li>
            </ul>
        </div>
    </div>
</nav>  